<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>Admin Interface</title>
	  <%= css_include_tag 'screen', :media  => :screen %>
	  <%= css_include_tag 'admin', :media => 'screen' %>
	  <%= css_include_tag 'print', :media => 'print' %>
    <%= catch_content :head %>
  </head>
<body>
<div id="header">
  <div class="controls"><a href="<%= url(:logout) %>">Logout</a></div>
  <a href="<%= url(:admin_home) %>">Administration</a>
</div>
<ul id="nav">
	<li><a href="<%= url(:admin_home) %>">Articles</a></li>
	<li><a href="<%= url(:comments) %>">Comments</a></li>
	<li><a href="<%= url(:users) %>">Users</a></li>
  <li><a href="<%= url(:edit_settings) %>">Settings</a></li>
</ul>
<div class="container">
		<%= catch_content :for_layout %>
</div>
	<%= js_include_tag 'jquery-1.2.2.min' %>
	<%= catch_content :javascript %>
	<%= js_include_tag "application" %>
</body>
</html>